

.aboutPage header {
    text-align: center;
    color: white;

font-size: 70px;

}

.aboutPage h2 {
    font-size: 50px;
    flex-wrap: wrap;
}


.header2 {
    display: flex;
}


.aboutPage img {
    display: flex;
 
    justify-content: center;
  align-items: center;
}




.aboutPage figure {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}





.aboutPage {
    background-image: url("/src/assets/images/main_image_deep_field_smacs0723-5mb.jpg");
}





.container5 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    color: white;
}





.card-body {
    margin: auto;
    text-align: center;
    width: fit-content;
    block-size: fit-content;
    word-wrap: break-word;

}




.aboutPage h1 {
    text-align: center;
    color: white;
}

.explanation {
    text-align: center;
    color: white;

}

.aboutPage p {
color: whitesmoke;
font-size: large;
max-width: 400px;

}



 @media screen and (max-width:1000px) {
    .aboutPage img {
      
      max-width: 60%;
      max-height: 50%;
    
     
    }
  }  