
body {
    background-image: url("../assets/images/homepage-space-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.transition-title {
    color: white;
    font-family: monospace, sans-serif;
    font-size: 35px;
    padding-bottom: 75px;
    padding-top: 300px; /* this is added as the center div isn't working */
    text-align: center;
}

.transition-subtitle,
.transition-subtitle-arrows {
    color: white;
    font-family: monospace, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 0.5;
}

.transition .push {
    height: calc(100% - 200px)
}

.spacer {
    height: 50vh
}

.transition .row {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    max-height: 90vh;
}

.transition .row > div {
    max-width: min(100vh, 100vw);
    max-height: min(100vh, 100vw);
}

@media only screen and (max-width: 600px) {
    .transition .row {
        flex-direction: column;
        /* margin-bottom: 30vh; */
    }
}