.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(12, 0, 0);
  box-shadow: 0 2px 4px rgba(251, 35, 35, 0.1);
}

.logo {
  max-width: 100px;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 80px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 133, 2);
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #f4ff24;
}

@media (max-width: 820px) {
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    
  }
  
  .header .logo {
    max-width: 100px;
  }


  nav a {
    color: #000000;
    background-color: rgb(0, 0, 0);
    text-shadow: 0 0 3px #ff0000;
    font-size:36px;
    
  }

      
}
