.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(251, 35, 35, 0.1);
  }
  
  .logo {
    max-width: 100px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 80px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(255, 133, 2);
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #f4ff24;
  }
  
  @media (max-width: 768px) {
    .header {
      position: fixed;
      bottom: 0;
      left: 0;
    }
    
    .logo {
      width: 30px;
    }
    
    .nav-links li a {
      color: #fff;
    }
    
    nav a {
      color: #d61212;
      background-color: #fff;
     
    }

    nav a:hover {
        color: #d08119;
      }
  }