.modal-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  min-height: 40vh;
  background-color: rgba(118, 2, 131, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  /* Add this line */
  border-radius: 20px;
  border: rgba(220, 18, 247, 0.9);
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-info .my-button {
  background-color: rgb(21, 7, 112);
  color: white;
  font-size: 0.5rem;
  padding: 8px 16px;
  align-items: center;
}

.modal-info .heading-one {
  font-size: 1rem;
  color: rgb(247, 16, 247);
  font-weight: bold;
}

.modal-info .heading-two {
  color: white;
  font-size: 1rem;
}
