#planetData {
    background: linear-gradient(45deg, rgb(114 79 0),rgb(0 71 74), rgb(2, 0, 33));
    padding: 10px 5px 110px 5px; 
}
#planetData table {
    margin: 0 auto;
}
#planetData tr {
    height: 34px;
}
#planetData th {
    background-color: black;
    color: white;
    font-size: 1.1rem; 
    border-radius: 5px;
}
#planetData td {
    background-color: rgb(234 234 234);
    padding: 5px; 
    padding-left: 15px; 
    border-radius: 5px;
}
#planetData ul {
    padding-left: 15px;
}
#planetData sup {
    font-style: italic;
}